{% extends "master_layout.html" %}
{% block content %}
    <body class="bg-white">

    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">

            <div class="login-content">

                <div class="login-form">
                    <form method="post" action="">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form.dustbinName.label(class="form-control-label") }}

                            {% if form.dustbinName.errors %}
                                {{ form.dustbinName(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.dustbinName.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.dustbinName(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.description.label(class="form-control-label") }}

                            {% if form.description.errors %}
                                {{ form.description(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.description.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.description(class="form-control form-control-lg") }}
                            {% endif %}

                        </div>

                        <div class="form-group">
                            {{ form.location.label(class="form-control-label") }}
                            {% if form.location.errors %}
                                {{ form.location(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.location.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.location(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {{ form.users_id.label(class="form-control-label") }}
                            {% if form.users_id.errors %}
                                {{ form.users_id(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.users_id.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.users_id(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                        {{ form.submit(class="btn btn-primary btn-flat m-b-30 m-t-30") }}


                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}


