{% extends "master_layout.html" %}

{% block content %}

    <!-- Animated -->
    <div class="animated fadeIn">
        <!-- Widgets  -->
        <div class="row">




            <div class="col-lg-6 col-md-6">
                <div class="card text-white bg-flat-color-2">
                    <div class="card-body">
                        <div class="card-left pt-1 float-left">
                            <h3 class="mb-0 fw-r">
                                <span class="count">90</span>
                            </h3>
                            <p class="text-light mt-1 m-0">UltraSonic Sensors</p>
                        </div><!-- /.card-left -->

                        <div class="card-right float-right text-right">
                            <i class="fa fa-5x fa-users"></i>
                        </div><!-- /.card-right -->

                    </div>

                </div>
            </div>

            <button type="button" data-toggle="modal" data-target="#myModal">Launch modal</button>

            <div class="col-lg-6 col-md-6">
                <div class="card text-white bg-flat-color-2">
                    <div class="card-body">
                        <div class="card-left pt-1 float-left">
                            <h3 class="mb-0 fw-r">
                                <span class="count">1</span>
                            </h3>
                            <p class="text-light mt-1 m-0">Gas Detection Sensors</p>
                        </div><!-- /.card-left -->

                        <div class="card-right float-right text-right">
                            <i class="fa fa-5x fa-users"></i>
                        </div><!-- /.card-right -->

                    </div>

                </div>
            </div>


        </div>
        <!-- /.widget -->


          {% for d in data %}
            <p>{{ d }}</p>

            {% endfor %}

        <div class="clearfix"></div>

    </div>
{% endblock content %}